<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
        <div class="col card1">
            <div class="card radius-15 bg-col">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <a href="/pensioner-input"><img src="/assets/image/pension.jpg" class=" shadow bg-white" id="img1" alt=""></a>
                        
                        <p class="mb-3 text-white">View your pension details</p>
                        <div class="d-grid" id="grid1"> <a href="/pensioner-input" class="btn btn-white radius-15">Pension Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col card2">
            <div class="card radius-15 bg-col">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <a href="/process-pension-input"><img src="/assets/image/pension3.jpg" class="shadow  bg-white" id="img2" alt=""></a>
                        
                        <p class="mb-3 text-white">Click here for pension disbursement</p>
                        <div class="d-grid" id="grid2"> <a href="/process-pension-input" class="btn btn-white radius-15">Pension Disbursement</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

